* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.login-background {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background: #343A40;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-wrapper {
    margin-left: 40px;
    display: block;
    width: 400px;
    height: 420px;
    padding: 40px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #ffffff;

}

.login-wrapper h1{
    font: 100 2.5rem/20px 'Raleway', sans-serif;
    color: #ffffff;
}

.login-wrapper p{
    font: 400 0.9rem 'Raleway', sans-serif;
    color: #dedede;
}

.input {
    border: none;
    border-radius: 25px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
    padding: 0 35px;
    background: #ffffff;
    font: 400 1.25rem 'Raleway', sans-serif;
    color: #000000;
}

.button-primary {
    float: right;
    width: auto;
    font: 700 1rem 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #343A40;
}
